/*
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Marck Script', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Comfortaa', cursive;
*/


﻿html,body {
margin:0;
padding:0;
background-color:#FFFFFF;
}

.column1,.column2,.column3{
min-height:95%;
height:95%;
position:absolute;
display:block;
z-index:0;
overflow-y:auto;
overflow-x: hidden;
/*background-color:#FFFFFF;*/
}
.column1{
padding:0;
margin:0;
width:25%;
background-color:red;
}
.column2{
padding:0;
margin:0;
left:25%;
width:45%;
background-color:blue;
}
.column3{
	padding:0;
margin:0;
right:0;
width:30%;
background-color:green;
}

.emblema{
border-radius:10px;
}

.emblemaindex{
border-radius:10px;
}

/*существует стиль*/
.headline-index{
position:relative;
margin:0 auto 1% auto;
text-align: center;
}

.emblema{
width:30%;
}

.emblemaindex{
width:10%;
display:block;
}

img{
position:relative;
border-radius:10px;
}

.block1 img{
border-radius:10px;
position:relative;
width:80%;
margin:0 10% 0 10%;
}

.block2 img, .block3 img{
width:18%;
}

.mesimg img{
width:10%;
position:relative;
display:inline-block;
}

 #opisan{
 position: relative;
 background-color: blue;
 margin: 10% 0;
 }


.block2,.neproch_soobsh{
position:relative;
display:block;
margin:0 0 1% 0;

}

.block1,.block3{

position:relative;
display:block;
margin:0 5px 1% 5px;
border:1px solid #EEEEEE;
background-color: #EEEEEE;
border-radius:5px;
}

.block1 p,.block2 p,.block3 p,form p,form input,.block2 img, .block3 img{
padding:0 1% 0 1%;
color:black;
}

a,.column1 .block2 a{
padding:0 1% 0 1%;
color:blue;
}
a:hover{
color:brown;
}

p a.lichnoe{

padding:0 1% 0 1%;
background-color:yellow;
background: linear-gradient(to top right, yellow 50%, orange);
border:1px solid grey;
border-radius:2px;
color:black;
text-decoration:none;
}

p a.lichnoe:hover{
background-color:orange;
background: linear-gradient(to top right, orange 50%, red);
}

.svoidannie{
color:red;
}

#ajax_soobsh, #echo{
position:relative;
display:block;
bottom:0px;
}

#formessage{
position:absolute;
overflow-y:scroll;
display:none;
max-height:65%;
bottom:35%;
width:99%;
}

form{
border-radius:5px;
position:relative;
max-width:100%;
margin:0 0 1% 0;
background-color:#EEEEEE;
}

/*существует стиль*/
.vhod{
width:50%;
position:relative;
margin:0 auto;
padding: 1% 0 1% 0;
}

/*существует стиль*/
.vhod p,.vhod input{
width:70%;
margin:0 15%;
padding: 1% 0 1% 0;
}
.vhod p{
text-align: center;
}
.vhod input{
text-align: left;
}

/*существует стиль*/
.vhod input[type="submit"]{
width:70%;
margin:1% 15% 0 15%;
padding: 1% 0 1% 0;
text-align: center;
}




.vhod span{
font-style:italic;
}


input.small{
width:20%;
margin:1% 40% 0 40%;
}



input,select,p input{
color:red;
}

input[type='submit'],input[type='reset'],input[type='button']{
background-color:yellow;
background: linear-gradient(to top right, yellow 50%, orange);
border-radius:5px;
}

input[type='submit']:hover,input[type='reset']:hover,input[type='button']:hover{
background-color:yellow;
background: linear-gradient(to top right, orange 50%, red);
border-radius:5px;
}

ul{
list-style-type:none;
}

ul a{
text-decoration:none;
}


h1,.imyasayta{
font-family: 'Prosto One', cursive;
position:relative;
color:#6600AA;
display: block;
}

h1{
margin:0 auto;
}

.imyasayta{
float: right;
margin-right: 2%;
}

h2,h3{
position:relative;
display:block;
width:80%;
}

p,p a{
position:relative;
margin:2px;
padding-bottom: 1%;
word-wrap: break-word; /* Перенос слов */
}

.textarea{
position:relative;
max-width:99%;
width:99%;
height:75%;
margin:0px;
padding:0px;
background-color:white;
border:1px solid black;
border-radius: 5px;
white-space: pre-wrap;
word-wrap: break-word;
}

#smilebox{
position: absolute;
display: none;
bottom: 31%;
z-index:50;
width:98%;
}

#smilebox>a,.block2>a{
color:white;
}

.formadown{
position:absolute;
display:none;
bottom:0px;
max-height:30%;
height:30%;
width:99%;
}

.mesimg{
position:relative;
display:inline-block;
bottom:-40px;
}

.mesfromme, .mesforme{
left:20%;
width:78%;
border:1px solid #EEEEEE;
border-radius:3px;
background-color:#EEEEEE;
position:relative;
display:block;
word-wrap: break-word;
}

.mesfromme{
color:green;
}

.mesforme{
color:blue;
}

.mesdel{
left:60%;
width:38%;
border:1px solid blue;
border-radius:3px;
font-size:smaller;
}

#ischo{
position:relative;
visibility:hidden;
}

.anketatextarea{
position:relative;
display:block;
width: 50%;
overflow:hidden;
margin:0 auto;
}
