html,body {
background-color:yellow ;
margin:0px;
padding:0px;
height:100%;
}

#top{
margin:0;
padding:0;
position:relative;
width:100%;
top:0;
display:block;

height:8%;
background-color:gray;
}

.forfoto{
z-index:0;
position:relative;
display:block;
}


.forma{
background-color: green;
position:relative;
width:100%;
color: red; 
display:inline-block;
}

#forma{
background-color: blue;
position:absolute;
width:100%;
bottom:0px;
display:inline;
height:25%;
min-height:25%;
}

#obshsoobsheniya{
position:absolute;
width:100%;
display:inline-block;

overflow-y: auto;
height:70%;
min-height:70%;
}

#ajax_soobsh{
position:relative;
width:100%;
display:block;
max-height:90%;
bottom:0px;
}

h1{   
color: red;
position:relative;
margin:0;
padding:0;
display:inline;
}

h2{	
}
   
h3{	
}

h4{	
color: red;	
position:relative;
}

i{
 font-size:20px;
color:blue;
margin:0 0 0 10%;//верх справа низ слева
}

p{
color: yellow;
position:relative;
}

b{
color: red;
position:relative;
}

b.s{
color: green;
position:relative;
}




a{
color: blue;	
}

p a{
color: orange;	
}

p a:hover{
color: red;	
}

a.pay{
color: red;
font-size:150%;	
}

a.pay:hover{
color: black;
font-size:150%;
text-decoration: none; /* Убираем подчеркивание */	
}


.imgmoi{
border-radius:5px;
width:15%;
}

.imgmoip{
border-radius:5px;
width:22%;
position:relative;
display:inline-block;
margin:1%;
}

img{
border-radius:5px;
width:75%;
}

.emblema{
border-radius:10px;
width:10%;
position:relative;
display:inline;
margin:2% 0 0 2%;//верх справа низ слева
}

.emblemast{
border-radius:10px;
width:20%;
position:relative;
display:inline;
margin:0 0 0 10%;//верх справа низ слева
}
.column1{

margin:0;
padding:0;
min-height:100%;
height:100%;
overflow-y: auto;
position:absolute;
display:block;

background-color: gold;

width:25%;
z-index:0;

}





.column2{

margin:0;
padding:0;
min-height:100%;
height:100%;
overflow-y: auto;
position:absolute;
display:block;
z-index:0;
background-color: white;

left:25%;
width:50%;

}

.column3{

margin:0;
padding:0;
min-height:100%;
height:100%;
overflow-y: auto;
position:absolute;
display:block;

background-color: gold;
z-index:0;
right:0;
width:25%;

}




li{
list-style-type: none; /* Убираем маркеры */
}

ul{
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

li a{
text-decoration: none; /* Убираем подчеркивание */
}



.moissilki a, td a, .ssylkafriend{
text-decoration: none; /* Убираем подчеркивание */

color: blue;
position:relative;

display:inline;
}

a.vidknopok{
text-decoration: underline; /* Вставляем подчеркивание */
color: red;
font-size:200%;
}

a.vidknopok:hover{
text-decoration: none; /* Вставляем подчеркивание */
color: blue;
font-size:200%;
}

a.naglavnuyu{
text-decoration: underline; /* Вставляем подчеркивание */
color: green;
font-size:150%;
}

a.naglavnuyu:hover{
text-decoration: none; /* Убираем подчеркивание */
color: black;
font-size:150%;
}









b.vidknopok{

color: blue;
font-size:200%;

}

.moissilki{
text-decoration: underline;
color:red;
//margin:0 0 0 10%;//верх справа низ слева
}

.moissilki:hover a{display:inline;
margin:0 0 0 10%;//верх справа низ слева}

.moissilki a{display:none;}



.moissilki a:hover, td a:hover , .ssylkafriend:hover{
text-decoration: underline; /* Вставляем подчеркивание */

color: red;
position:relative;

display:inline;
}

.textno{
display:none;
}

.textsoob {
word-wrap: break-word;
position:relative;
margin:0 10%;
display:block;
color:orange;

}

.textsoobin, .textsoobout {
position:relative;
color:green;
width:10%;
}

.glavfoto{
margin:10%;
}


a.black{visibility:visible;}


.soobtimedelete{visibility:hidden;}

.textsoob:hover .soobtimedelete{visibility:visible;}

.soobtimedelete a{color:green;} 

.reg li{
position:relative;
display:none;}

.reg:hover li{
position:relative;
display:inline;}